@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-interactive.panel-outer-polygon-line {
  stroke-width: 3px !important;
  stroke-opacity: 1 !important;
  fill-opacity: 0 !important;
  vector-effect: non-scaling-stroke;
}

.panel-outer-svg-line {
  stroke-width: 3px !important;
  vector-effect: non-scaling-stroke;
  fill: none !important;
}
